# Created by .ignore support plugin (hsz.mobi)

.classpath
.project
.settings
eclipsebin

bin
gen
build
out
logs
*.log

.gradle

.idea
*.iml
*.ipr
*.iws
classes

container_settings.json
obj
.DS_Store

.gradle/
.idea/workspace.xml
build/
src/main/resources/
src/test/
